# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/
*.egg-info/
.eggs/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PyInstaller
build/
dist/
*.spec

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/
